*{
  font-family: Poppins, sans-serif;
}

h1,h2{
  font-family: Raleway, sans-serif;
}
h1{
  font-size: 64px;
  font-weight: 500;
}

.header{
/* width: 100%; */
padding: 1% 5%;
justify-content: space-between;
background: white;
align-items: center;
z-index: 2;
font-size: 18px;
}

.header > img{
  width: 6%;
}

.flex{
display: flex;
}

.header-text{
  width: 40%;
  justify-content: space-evenly;
}

.header p{
  width: 100px;
  text-align: center;
}
.header p:hover{
  font-weight: 700;
}

.gradient-text {
  background: linear-gradient(45deg, #1AA3FF, #7BE7FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
  text-align: center;
}

.first-section{
padding:10px 180px 80px 180px;
background-image: url(https://lenscorp.ai/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdetwrhe0k%2Fimage%2Fupload%2Fv1691730929%2Flenscorp-website%2FDesktop_-_23_u3ypg0.jpg&w=256&q=75);
background-size: cover;
background-position: center;
height: 400px;
}

.first-section h1{
 font-size: 64px;
 font-weight: 500;
}

.first-section div{
  padding: 0%;
  width: 50%;
}

.first-section p{
  font-size: 20px;
}


.learn-more{
  width: 150px;
  height: 40px;
  color: white;
  background-color: black;
  font-size: 18px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: none;
  margin-top: 30px;
  transition: 500ms;
}

.learn-more:hover{
  width: 160px;
  border: 1px solid black;
  color:black;
  background-color: white;
  transition: 500ms;
  cursor: pointer;
}

/* ------------about section-------- */

.about-section > h1,.services-section > h2,.services-section > h1{
  text-align: center;
}

.underline-about{
  height: 13px;
  width: 160px;
  background:var(--gr-4,linear-gradient(54deg,#0091ff 0,#9cfeff 100%));
  margin: auto;
  border-radius: 8px;
  margin-top: -20px;
}

.about-info-div{
  width: 75%;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 16px;
 justify-content: space-between;
 align-items: center;
 background-color: #E2F2FF;
 font-size: 20px;
 transition: transform 0.3s ease;
}

.about-info-div:hover{
transform: scale(1.1);
}
.about-info-div > div{
padding:20px ;
/* padding-top: 40px; */
margin-top: 40px;
}


.group-img > div{
  width: 450px;
  height: 400px;
  display: flex;
  justify-content: center;
  background-image: url("https://lenscorp.ai/_next/image?url=%2FImages%2FaboutLatest.webp&w=828&q=75");
  background-position: center;
  border-radius: 14px;
}


.about-left > .learn-more{
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.about-left > .learn-more:hover{
  background-color:black;;
  border: 1px solid black;
  color: white;
}

/* ------services section----- */
.services-section{
  background:  linear-gradient(54deg, #DEF5EC,#FCE8E5, #DBF2F7,#FCF3E1);
  background-clip: content-box;
  background-color: var(--aboutBg);
}

.services-section .underline-about{
height: 5px;
width: 100px;
}

.services-section>h1{
  padding: 20px 65px;
}

.service-grid{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  margin: auto;
}

.service-grid > div{
width: 300px;
height: 300px;
border-radius: 10px;
/* border: 1px solid black; */
padding: 20px;
font-size: 20px;
font-weight: 500;
background-color: white;
}

.service-grid-parent{
  display: flex;
  justify-content: center;
}

.service-grid h2{
font-size: 72px;
line-height: 0px;
color: #D1DDDD;
margin-top: 35px;
}

.service-grid h3{
margin-left: -22px;
font-size: 25px;
transition: 500ms;
}

.service-grid > .biometric:hover{
  background: none;
  border: 1px solid #01C99B;
}

.service-grid > .image-analyis:hover{
  background: none;
  border: 1px solid #3FBDF1;
}

.service-grid > .cross-media:hover{
  background: none;
  border: 1px solid #FF605F;
}

.service-grid > .modeling:hover{
  background: none;
  border: 1px solid #FF9F31;
}

.service-grid > .biometric h3{
  color: #01C99B;
}

.service-grid > .image-analyis h3{
color: #3FBDF1;
}

.service-grid > .cross-media h3{
  color: #FF605F;
}

.service-grid > .modeling h3{
color: #FF9F31;
}

.service-grid > div:hover h3{
  margin-left: 0px;
  transition: 500ms;
  color: #687673;
  }

  .service-grid > .biometric:hover h2 > span{
    color: #01C99B;
    }

    .service-grid > .image-analyis:hover h2 > span{
      color: #3FBDF1;
      }

      .service-grid > .cross-media:hover h2 > span{
        color: #FF605F;
        }
    
        .service-grid > .modeling:hover h2 > span{
          color: #FF9F31;
          }

        .service-grid p{
        color: #8D8988;
        font-weight: 500;        
        }

